@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}

@keyframes spin_2 {
    0%{
        transform: rotate(360deg);
    }

    100%{
        transform: rotate(0deg);
    }

}

@keyframes disparition {
    0% {
        opacity: 100%;
    }

    90% {
        opacity: 70%;
    }

    100% {
        opacity: 0%;
        }
}


@keyframes gliss{
    0%{
        opacity: 0;
        transform: translateY(100%) scale(1);
    }
}

@keyframes icone{
    0%{
        width: 0;
    }


    100%{
        width: 3.5rem;
    }
}


@keyframes icone2{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}


@keyframes checking_2{
    0%{
        padding-right: 0rem;
    }

    100%{
        padding-right: 1.5rem;
    }
}


