@media only screen and (min-width : 768px) {

    h2{
        display: flex;
        justify-content: center;
    }

    nav, .first__section{
        justify-content: space-around;
        display: flex;
    }

    nav ul li {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    nav ul li i{
        padding-bottom: .5rem;
    }

    .first__section{
        flex-direction: row-reverse !important;
    }

    .second__section{
        padding: 2rem 1rem;
    }

    .third__section__restaurants__cards--hearts {
        bottom: .5rem !important;
    }

    .third__section__restaurants__cards--hearts {
        top: -3rem;
    }

    .third__section__restaurants__cards__menu--hearts--vacuum--pages{
        top: 4.5rem !important;
    }

    .third__section__restaurants__cards__menu--hearts--full--pages{
        top: 3rem !important;
    }
    
    .first__section__background{
        flex-direction: row-reverse;
        line-height: 10.5rem;
        padding: 0 1.5rem;
        background: $background-color-grey-clear !important;
    }

    figure{
    min-width: 17rem;
    }

    footer{
        padding-left: 5rem;
        padding-right: 5rem;
        justify-content: space-around;
        display: flex;
        position: relative;
        bottom: 0;
    }

    footer h4{
        font-size: 2rem;
    }


    //pages retaurants

    .h2{
        justify-content: space-around;
        padding-top: 1.5rem;
    }

    .img__desktop{
        max-height: 15rem;
    }
    

    .button__style{
        margin: 1rem 0;
    }

}


@media only screen and (min-width : 1224px) {

    h2{
        display: flex;
        justify-content: center !important;
    }

    nav, .third__section__desktop, .first__section{
        justify-content: space-around;
        display: flex;
    }


    .third__section__restaurants__cards{
        display: table-cell;
        width: 23%;
    }


    .third__section__restaurants__cards__menu--hearts--vacuum--pages{
        top: 4.5rem;
    }

    .desktop__restaurants__pages{
        display: flex;
        justify-content: space-around;
    }

    nav ul li {
        display: initial;
    }

    .first__section{
        flex-direction: row-reverse;
        text-align: start;
    }

    .second__section{
        padding: 2rem 0 !important;
    }

    .first__section__background{
        padding: 0 3rem;
    }

    figure{
    width: 18rem;
    }


    footer h4{
        font-size: 2rem;
    }


    //pages retaurants

    .h2{
        justify-content: space-around;
        padding-top: 1.5rem;
    }

    .name__restaurants{
        justify-content: space-around;
    }

    .item__menu{
        padding-top: 2rem;
    }

    .menu{
        width: 24rem;
    }

    .img__desktop{
        max-height: 15rem;
    }    

    .button__styles{
        margin: 1rem 0;
    }

}