@media only screen and (min-width : 768px) {

    h2{
        display: flex;
        justify-content: center;
    }

    nav, .first__section{
        justify-content: space-around;
        display: flex;
    }

    nav ul li {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    nav ul li i{
        padding-bottom: .5rem;
    }

    .first__section{
        flex-direction: row-reverse;
    }

    .second__section{
        padding: 2rem 1rem;
    }

    .third__section__restaurants__cards__menu--hearts{
        position: absolute;
        bottom: 0.5rem;
        right: -3rem;
    }

    .third__section__restaurants__cards__menu--hearts--full{
        right: 60px;
    }


    .first__section__backgrond{
        flex-direction: row-reverse;
        line-height: 10.5rem;
        padding: 0 1.5rem;
        background: $background-color-grey-clear;
    }

    figure{
    min-width: 17rem;
    }

    footer{
        padding-left: 5rem;
        padding-right: 5rem;
        justify-content: space-around;
        display: flex;
        position: relative;
        bottom: 0;
    }

    footer h4{
        font-size: 2rem;
    }


    //pages retaurants

    div .fa-heart {
        margin-top: 1rem;
        padding: 1rem;
    }

    .h2{
        justify-content: space-around;
        padding-top: 1.5rem;
    }

    .img-desktop{
        max-height: 15rem;
    }
    

    .btn-page-menu{
        margin: 1rem 0;
    }

}





























@media only screen and (min-width : 1224px) {

    h2{
        display: flex;
        justify-content: center;
    }

    nav, .third__section__desktop, .first__section{
        justify-content: space-around;
        display: flex;
    }

    .third__section__restaurants__cards{
        display: table-cell;
    }

    .desktop-restaurants-pages{
        display: flex;
        justify-content: space-around;
    }

    nav ul li {
        display: initial;
    }

    .first__section{
        flex-direction: row-reverse;
        text-align: start;
    }

    .second__section{
        padding: 2rem 0;
    }

    .first__section__background{
        flex-direction: row-reverse;
        line-height: 10.5rem;
        padding: 0 3rem;
        background: $background-color-grey-clear;
    }

    figure{
    width: 18rem;
    }

    footer{
        padding-left: 15rem;
        padding-right: 15rem;
        justify-content: space-around;
        display: flex;
    }

    footer h4{
        font-size: 2rem;
    }


    //pages retaurants

    .h2{
        justify-content: space-around;
        padding-top: 1.5rem;
    }

    .name-restaurants{
        justify-content: space-around;
    }

    .item-menu{
        padding-top: 2rem;
    }

    .menus{
        min-width: 24rem;
    }

    .img-desktop{
        max-height: 15rem;
    }    

    .btn-page-menu{
        margin: 1rem 0;
    }

}