//Color
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;

$background-color-grey-clear:rgb(250, 250, 250);



$background-color-grey-dark: rgb(240, 240, 240);
$background-footer:rgb(58, 58, 58);

$color-shadows:  rgba(0, 0, 0, .2);

