@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/placeholders";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


//Générality

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    // background: $background-color-grey-clear;

}
.logo{
    width: 9rem;
    padding: 1rem 0;
    position: relative;
}

.flex{
    @extend %flex;
}

.flex-center{
    @extend %flex-center;
}

.justify-content-around{
    @extend %flex-around;
}

.justify-content-between{
    @extend %flex-between;
}

.bg-gliss{
    background: white;
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: $color-shadows 0 0 2rem 0;
    z-index: 1;
    animation: gliss ease-in-out 2s;
    cursor: pointer;
}

.bg-gliss:nth-child(2) {
    animation: gliss ease-in-out 1s;
}

.bg-gliss:nth-child(3) {
    animation: gliss ease-in-out 1.5s;
}

header{
    @extend %flex;
    @extend %flex-center;
    box-shadow: $color-shadows 0 0 .5rem 0;
    position: relative;
}

h2{
    justify-content: start;
}

.h2{
    font-family: 'Shrikhand', serif;
    font-weight: 300;
    padding: 0rem 1rem;
}

h3{
    margin: .3rem 0;
}

h4{
    font-family: 'Shrikhand', serif;
    font-weight: 300;
}

i{
    padding: 0 1rem 0 0;
}

.i {
    line-height: 4.5rem;
    padding: 1rem;
    font-size: 1.5rem;
}

img{
    @extend %width-100;
    object-fit: cover;
}

a{
    color: black;
    text-decoration: none
}

figure{
    position: relative;
}

//Section

.loader-home-page{
    animation: disparition linear 2.5s both;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.loader{
    border: .5rem solid $color-tertiary;
    width: 3rem;
    height: 3rem;
    border-right: .5rem solid rgba(255, 255, 255, 0);
    border-left: .5rem solid rgba(255, 255, 255, 0);
    border-radius: 50%;
    background: rgba(255, 255, 255, .8);
    animation: spin 1s linear infinite;
    padding: 1rem;
}

.loader-1{
    border: .7rem solid rgba(255, 255, 255, 0);
    width: 3rem;
    height: 3rem;
    border-top: .5rem solid $color-secondary;
    border-bottom: .5rem solid $color-secondary;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.356);
    animation: spin 2s linear infinite;
    padding: 1rem;
}

.loader-2{
    border: .7rem solid rgba(255, 255, 255, 0);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border-top: .5rem solid $color-primary;
    border-bottom: .5rem solid $color-primary;
    background: rgba(255, 255, 255, 0.356);
    animation: spin 3s linear infinite;
    padding: 1rem;
}











@keyframes spin {
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }

}

@keyframes spin_2 {
    0%{
        transform: rotate(360deg)
    }
    100%{
        transform: rotate(0deg)
    }

}

@keyframes disparition {
    0% {
        opacity: 100%;
    }

    90% {
        opacity: 70%;
    }

    100% {
        opacity: 0%;
        }
}

@keyframes opening{
    0%{
        opacity: 0;
    }
    50%{
        transform: translateX(60px);
        opacity: 0;
    }

    90%{
        opacity: 1;
        transform: translateX(00px);
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes gliss{
    0%{
        opacity: 0;
        transform: translateY(100%) scale(1)
    }
}

@keyframes test_slide{
    0%{
        right: -3rem;
    }

    100%{
        right: 0;
    }
}

@keyframes icone{
    0%{
        opacity: 0;
    }

    80%{
        opacity: .5;
    }

    100%{
        opacity: 1;
    }
}















.first-section{
    @extend %flex-center;
    flex-direction: column;
}

.first-section .presentation, .second-section{
    padding: 0 0.5rem;
}

.first-section, .third-section{
    background: $background-color-grey-clear;
}

.background-color-grey-dark{
    background: $background-color-grey-dark;
}
.background-color-grey-dark p{
    padding: 1rem 0;
    margin-top: 0rem;
}

.third-section{
    padding: 1.5rem 1rem;
}


//Navigation

.menu-cards{
    ul{
        margin: 1rem;
        padding-left: 0;
        li{
            background: $background-color-grey-clear;
            @include item-menu-card;
            position: relative;
            padding-left: 2rem;
        }
    }
}

.numbering-of-functions{
    @extend %numbering-of-functions;
}

.restaurants-cards{
    figure{
        @extend %figure;
        img{
            border-radius: 1rem 1rem 0 0;
            height: 11rem;
        }
    }
}

figcaption{
    padding-left: 1rem;
}

figcaption p{
    padding-bottom: 1rem;
    margin: 0;
}

//Button

.main-btn{
    @include main-btn;
}

.main-btn:hover{
    background: linear-gradient(0.98turn, $color-primary, $color-secondary);
    opacity: .9;
}

//like & new

.heart-absolute{
    position: absolute;
    right: 0rem;
    top: 10rem;
}

.heart-no-valid, .heart-valid{
    margin: .6rem 1rem 0 0;
}

.heart-valid{
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    visibility: hidden;
    position: absolute;
    cursor: pointer;
}

.heart-no-valid:hover .heart-valid{
    visibility: visible !important;
}

.news{
    position: absolute;
    right: 1em;
    top: 1rem;
    background:$color-tertiary;
    display: inline-block;
    color: #1d6651;
    padding: .5rem .7rem;
}

//footer

footer{
    background: $bacckground-footer;
    color: white;
    padding: 1rem;
    ul{
        list-style: none;
        padding: 0;
        li{
            padding: .3rem 0;
        }
    }
}

footer a{
    color: white;
}

//pages restaurants

.background-pages-restaurant{
    background: $background-color-grey-clear;
}

.header-restaurants{
    flex-direction: column;
}

.menus{
    animation: gliss ease-in-out 2s;
}

.menus:nth-child(2){
    animation: gliss ease-in-out 1s;
}

.menus:nth-child(3){
    animation: gliss ease-in-out 1.5s;
}

.restaurants-section{
    background: $background-color-grey-clear;
    position: relative;
    bottom: 2rem;
    border-radius: 2rem 2rem 0 0;
}

.titles-menu{
    padding: 1rem 0 1rem 1rem;
}

.item-menu{
    margin-left: 1.1rem;
    text-transform: uppercase;
    border-bottom: 3px solid $color-tertiary;
    width: 3rem;
    display: block;
    font-weight: initial;
    padding-bottom: .2rem;
}

.menus{
    background: white;
    margin: 1rem;
    border-radius: 1rem;
    position: relative;
    box-shadow: $color-shadows 0 0 2rem 0;
    cursor: pointer;
}

.vald{
    background: $color-tertiary;
    color: white;
    border-radius: 0 1rem 1rem 0;
    opacity: 0;
}

.price-2{
    padding-top: 2.8rem;
    margin-right: .6rem;
}


.vald .i-2{
    padding: 1.8rem 1rem;
    font-size: 1.5rem;
}

.menus:hover .checking{
    animation: test_slide 1s forwards;
}

.menus:hover .vald{
    animation: icone .5s linear 1 forwards;
}

.menus:hover .i-2{
    animation: spin_2 .75s linear 1;
}


.checking{
    position: absolute;
    bottom: 0;
    right: -3rem;
}

.logo-restaurants{
    margin: 0 auto;
    padding-right: 2rem;
}

.btn-page-menu{
    padding: 1rem 2.5rem;
    margin: 0;
}

@media only screen and (min-width : 768px) {

    h2{
        display: flex;
        justify-content: center;
    }

    nav, .first-section{
        justify-content: space-around;
        display: flex;
    }

    nav ul li {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    nav ul li i{
        padding-bottom: .5rem;
    }

    .first-section{
        flex-direction: row-reverse;
    }

    .second-section{
        padding: 2rem 1rem;
    }

    .background-color-grey-dark{
        flex-direction: row-reverse;
        line-height: 10.5rem;
        padding: 0 1.5rem;
    }

    figure{
    min-width: 17rem;
    }

    footer{
        padding-left: 5rem;
        padding-right: 5rem;
        justify-content: space-around;
        display: flex;
        position: relative;
        bottom: 0;
    }

    footer h4{
        font-size: 2rem;
    }


    //pages retaurants

    div .fa-heart {
        margin-top: 1.9rem;
    }

    .h2{
        justify-content: space-around;
        padding-top: 1.5rem;
    }

    .img-desktop{
        max-height: 15rem;
    }    

    .btn-page-menu{
        margin: 1rem 0;
    }

}

@media only screen and (min-width : 1224px) {

    h2{
        display: flex;
        justify-content: center;
    }

    nav, .section-desktop, .first-section, .section-desktop-restaurants-pages{
        justify-content: space-around;
        display: flex;
    }

    nav ul li {
        display: initial;
    }

    .first-section{
        flex-direction: row-reverse;
    }

    .second-section{
        padding: 2rem 0;
    }

    .background-color-grey-dark{
        flex-direction: row-reverse;
        line-height: 10.5rem;
        padding: 0 3rem;
    }

    figure{
    min-width: 18rem;
    }

    footer{
        padding-left: 15rem;
        padding-right: 15rem;
        justify-content: space-around;
        display: flex;
        position: relative;
        bottom: 0;
    }

    footer h4{
        font-size: 2rem;
    }


    //pages retaurants

    .h2{
        justify-content: space-around;
        padding-top: 1.5rem;
    }

    .name-restaurants{
        justify-content: space-around;
    }

    .item-menu{
        padding-top: 2rem;
    }

    .menus{
        min-width: 21rem;
    }

    .img-desktop{
        max-height: 15rem;
    }    

    .btn-page-menu{
        margin: 1rem 0;
    }

}