@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/placeholders";
@import "./utils/media";
@import "./utils/keyframs";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');



//Générality

html, body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.logo{
    width: 9rem;
    padding: 1rem 0;
    position: relative;
}

.flex{
    @extend %flex;
}

.flex-center{
    @extend %flex-center;
}

.justify-content-around{
    @extend %flex-around;
}

.justify-content-between{
    @extend %flex-between;
}


header{
    @extend %flex;
    @extend %flex-center;
    box-shadow: $color-shadows 0 0 .5rem 0;
    position: relative;
}

h2{
    justify-content: start;
}

.h2{
    font-family: 'Shrikhand', serif;
    font-weight: 300;
    padding: 0rem 1rem;
}

h3{
    margin: .3rem 0;
}

h4{
    font-family: 'Shrikhand', serif;
    font-weight: 300;
}

i{
    padding-right: .5rem;
}

.i{
    line-height: 4.5rem;
    padding: 1rem;
    font-size: 1.5rem;
}

img{
    @extend %width-100;
    object-fit: cover;
}

a{
    color: black;
    text-decoration: none
}

figure{
    position: relative;
}

figcaption{
    padding-left: 1rem;
}


//loader


.loader__pages{
    animation: disparition linear 2.5s both;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    pointer-events: none;
}

.loader__pages__1{
    border: .5rem solid $color-tertiary;
    width: 3rem;
    height: 3rem;
    border-right: .5rem solid rgba(255, 255, 255, 0);
    border-left: .5rem solid rgba(255, 255, 255, 0);
    border-radius: 50%;
    background: rgba(255, 255, 255, .8);
    animation: spin 1s linear infinite;
    padding: 1rem;
}

.loader__pages__2{
    border: .7rem solid rgba(255, 255, 255, 0);
    width: 3rem;
    height: 3rem;
    border-top: .5rem solid $color-secondary;
    border-bottom: .5rem solid $color-secondary;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.356);
    animation: spin 2s linear infinite;
    padding: 1rem;
}

.loader__pages__3{
    border: .7rem solid rgba(255, 255, 255, 0);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border-top: .5rem solid $color-primary;
    border-bottom: .5rem solid $color-primary;
    background: rgba(255, 255, 255, 0.356);
    animation: spin 3s linear infinite;
    padding: 1rem;
}

//logo

.logo__restaurants{
    margin: 0 auto;
    padding-right: 2rem;
}

//Section

.first__section{
    @extend %flex-center;
    flex-direction: column;
}

.first__section .first__section__presentation, .second__section{
    padding: 0 0.5rem;
}

.first__section, .third__section{
    background: $background-color-grey-clear;
}

.first__section__background{
    background: $background-color-grey-dark;
    cursor: pointer;
}

.first__section__background p{
    padding: 1rem 0;
    margin-top: 0rem;
}

.third__section{
    padding: 1.5rem 1rem;
}


.second__section__cards{
    ul{
        margin: 1rem;
        padding-left: 0;
        li{
            background: $background-color-grey-clear;
            @include item-menu-card;
            position: relative;
            padding-left: 2rem;cursor: pointer;
        }
    }
}

.second__section__cards i{
    color: grey;
}

.second__section__cards ul li:hover i{
    color: $color-primary;
}

.second__section__cards ul li:hover{
    background: rgba(210, 143, 255, .2);
}

.numbering__of__functions{
    @extend %numbering-of-functions;
}

.third__section__restaurants__cards{
    figure{
        @extend %figure;
        img{
            border-radius: 1rem 1rem 0 0;
            height: 11rem;
        }
    }
}

.third__section__figcaption p{
    padding-bottom: 1rem;
    margin: 0;
}

//Button

.button{
    @include main-btn;
}

.button:hover{
    background: linear-gradient(.7turn, $color-primary, $color-secondary);
    opacity: .9;
}


//like & new


.third__section__news{
    position: absolute;
    right: 1em;
    top: 1rem;
    background:$color-tertiary;
    display: inline-block;
    color: #1d6651;
    padding: .5rem .7rem;
}

.third__section__restaurants__cards__menu--hearts--full{
    background: -webkit-linear-gradient(.60turn, $color-primary, $color-secondary);
    -webkit-text-fill-color: transparent;
    padding: 0;
    z-index: 1;
    position: relative;
    right: 28px;
    opacity: 0;
}

.third__section__restaurants__cards__menu--hearts--full i{
    font-size: 28px;
}

.third__section__restaurants__cards__menu:hover .third__section__restaurants__cards__menu--hearts--full{
    animation: icone2 .5s ease-in-out 1 both;
    z-index: 2;
}


.third__section__restaurants__cards__menu{
    position: relative;
}


.third__section__restaurants__cards__menu--hearts--vacuum{
    cursor: pointer;
    padding: 0;
}

.third__section__restaurants__cards__menu--hearts--vacuum--pages{
    position: relative;
    top: 1.5rem;
    right: 1.7rem;
}

.third__section__restaurants__cards__menu:hover .third__section__restaurants__cards__menu--hearts--vacuum{
    transition: color .5s linear;
    color: $background-color-grey-clear;
}


.third__section__restaurants__cards--hearts {
	position: absolute;
	bottom: 1.5rem;
	right: 0rem;
}

.third__section__figcaption{
    position: relative;
}


//footer

footer{
    background: $background-footer;
    color: white;
    padding: 1rem;
    ul{
        list-style: none;
        padding: 0;
        li{
            padding: .3rem 0;
        }
    }
}

footer a{
    color: white;
}

// page-restaurants

.img__page__restaurants{
    height: 16rem;
}

.background__pages__restaurant{
    background: $background-color-grey-clear;
}

.header__restaurants{
    flex-direction: column;
}

.menu{
    animation: gliss ease-in-out 2s;
}

.menu:nth-child(2){
    animation: gliss ease-in-out 1s;
}

.menu:nth-child(3){
    animation: gliss ease-in-out 1.5s;
}

.section__restaurants{
    background: $background-color-grey-clear;
    position: relative;
    bottom: 2rem;
    border-radius: 2rem 2rem 0 0;
}

.item__menu{
    margin-left: 1.1rem;
    text-transform: uppercase;
    border-bottom: 3px solid $color-tertiary;
    width: 3rem;
    display: block;
    font-weight: initial;
    padding-bottom: .2rem;
}

.menu__titles{
    padding: 1rem 0rem 1rem 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    h3{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: 3rem;
    }
}

.menu__description{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 4.5rem;
    display: block;
}

.menu{
    background: white;
    margin: 1rem;
    border-radius: 1rem;
    position: relative;
    box-shadow: $color-shadows 0 0 2rem 0;
    cursor: pointer;
}

.menu__validation{
    background: $color-tertiary;
    color: white;
    border-radius: 0 1rem 1rem 0;
    width: 0rem;
    overflow: hidden;
}

.menu__i{
    transform: translateX(-3.5rem);
}

.menu__price{
    padding: 2.8rem .6rem 0 .6rem;
}


.menu__validation .menu__i{
    padding: 1.8rem 1rem;
    font-size: 1.5rem;
}


.menu:hover .menu__validation{
    animation: icone .5s linear 1 forwards;
}

.menu:hover .menu__i{
    animation: spin_2 .5s linear 1 forwards;
}

.menu__checking{
    position: absolute;
    bottom: 0;
    right: 0;
}

.menu:hover .menu__titles{
    animation: checking_2 .5s linear forwards;
}

.button__style{
    padding: 1rem 2.5rem;
    margin: 0;
}

.button__height{
    height: 4rem;
    padding-top: 1.5rem;
}