@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/placeholders";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


//Générality

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    // background: $background-color-grey-clear;

}
.logo{
    width: 9rem;
    padding: 1rem 0;
    position: relative;
}

.flex{
    @extend %flex;
}

.flex-center{
    @extend %flex-center;
}

.justify-content-around{
    @extend %flex-around;
}

.justify-content-between{
    @extend %flex-between;
}

.color-white{
    background: white;
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: $color-shadows 0 0 2rem 0;
}

header{
    @extend %flex;
    @extend %flex-center;
    box-shadow: $color-shadows 0 0 .5rem 0;
    position: relative;
    
}

h2{
    justify-content: start;
}

.h2{
    font-family: 'Shrikhand', serif;
    font-weight: 300;
    padding: 0rem 1rem;
}

h3{
    margin: .3rem 0;
}

h4{
    font-family: 'Shrikhand', serif;
    font-weight: 300;
}

i{
    padding: 0 1rem 0 0;
}

.i{
    line-height: 4.5rem;
    padding : 1rem;
    font-size: 1.5rem;
}

img{
    @extend %width-100;
    object-fit: cover;
}

a{
    color: black;
    text-decoration: none
}

figure{
    position: relative;
}

div .fa-heart{
    margin-top: .6rem;
    margin-right: 1rem;
}

.fa-heart:hover::before{
    object-fit: cover;
    background: linear-gradient(0.70turn, $color-primary, $color-secondary);
    color: white;
}

//Section

.bg-loader{
    background: $background-color-grey-clear;
}

.loader{
    border: .5rem solid $color-tertiary;
    width: 3rem;
    height: 3rem;
    border-right: .5rem solid rgba(255, 255, 255, 0);
    border-left: .5rem solid rgba(255, 255, 255, 0);
    border-radius: 50%;
    background: rgba(255, 255, 255, .8);
    margin: auto auto;
    animation: spin 1s linear infinite;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.loader-1{
    border: .7rem solid rgba(255, 255, 255, 0);
    width: 3rem;
    height: 3rem;
    border-top: .5rem solid $color-secondary;
    border-bottom: .5rem solid $color-secondary;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.356);
    animation: spin 2s linear infinite;
}

.loader-2{
    border: .7rem solid rgba(255, 255, 255, 0);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border-top: .5rem solid $color-primary;
    border-bottom: .5rem solid $color-primary;
    background: rgba(255, 255, 255, 0.356);
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }

}

.first-section{
    @extend %flex-center;
    flex-direction: column;
}

.first-section .presentation, .second-section{
    padding: 0 1rem;
}

.first-section, .third-section{
    background: $background-color-grey-clear;
}

.background-color-grey-dark{
    background: $background-color-grey-dark;
}
.background-color-grey-dark p{
    padding: 1rem 0;
    margin-top: 0rem;
}

.third-section{
    padding: 1.5rem 1rem;
}


//Navigation

.menu-cards{
    ul{
        margin: 1rem;
        padding-left: 0;
        li{
            background: $background-color-grey-clear;
            @include item-menu-card;
            position: relative;
            padding-left: 2rem;
        }
    }
}

.numbering-of-functions{
    @extend %numbering-of-functions;
}

.restaurants-cards{
    figure{
        @extend %figure;
        img{
            border-radius: 1rem 1rem 0 0;
            height: 11rem;
        }
    }
}

figcaption{
    padding-left: 1rem;
}

figcaption p{
    padding-bottom: 1rem;
    margin: 0;
}

//Button

.main-btn{
    @include main-btn;
}

.main-btn:hover{
    background: linear-gradient(0.98turn, $color-primary, $color-secondary);
    opacity: .9;

}

//like & new

.heart-absolute{
    position: absolute;
    right: 0rem;
    top: 11rem;
}


.news{
    position: absolute;
    right: 1em;
    top: 1rem;
    background:$color-tertiary;
    display: inline-block;
    color: #1d6651;
    padding: .5rem .7rem;
}


//footer

footer{
    background: $bacckground-footer;
    color: white;
    padding: 1rem;
    ul{
        list-style: none;
        padding: 0;
        li{
            padding: .3rem 0;
        }
    }
}

footer a{
    color: white;
}

//pages restaurants

.background-pages-restaurant{
    background: $background-color-grey-clear;
}

.header-restaurants{
    flex-direction: column;
}

.restaurants-section{
    background: $background-color-grey-clear;
    position: relative;
    bottom: 2rem;
    border-radius: 2rem 2rem 0 0;
}

.price{
    padding: 3rem 1rem 0 0;
}

.validation{
    background: $color-tertiary;
    border-radius: 0 1rem 1rem 0;
    display: none;
}

.validation .i{
    color: white;
    @extend %flex-center;
    line-height: 3rem;
}

.titles-menu{
    padding: 1rem 0 1rem 1rem;
}


.item-menu{
    margin-left: 1.1rem;
    text-transform: uppercase;
    border-bottom: 3px solid $color-tertiary;
    width: 3rem;
    display: block;
    font-weight: initial;
    padding-bottom: .2rem;
}

.color-white:hover .validation{
    display: block;    
}

.logo-restaurants{
    margin: 0 auto;
    padding-right: 2rem;
}

.btn-page-menu{
    padding: 1rem 2.5rem;
    margin: 0;
}

@media only screen and (min-width : 768px) {

    h2{
        display: flex;
        justify-content: center;
    }

    nav, .first-section{
        justify-content: space-around;
        display: flex;
    }

    nav ul li {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    nav ul li i{
        padding-bottom: .5rem;
    }

    .first-section{
        flex-direction: row-reverse;
    }

    .second-section{
        padding: 2rem 0;
    }

    .background-color-grey-dark{
        flex-direction: row-reverse;
        line-height: 10.5rem;
        padding: 0 1.5rem;
    }

    figure{
    min-width: 17rem;
    }

    footer{
        padding-left: 5rem;
        padding-right: 5rem;
        justify-content: space-around;
        display: flex;
        position: relative;
        bottom: 0;
    }

    footer h4{
        font-size: 2rem;
    }


    //pages retaurants

    .h2{
        justify-content: space-around;
        padding-top: 1.5rem;
    }

    .color-white{
        min-width: 19rem;
    }

    .img-desktop{
        max-height: 15rem;
    }    

    .btn-page-menu{
        margin: 1rem 0;
    }

}

@media only screen and (min-width : 1224px) {

    h2{
        display: flex;
        justify-content: center;
    }

    nav, .section-desktop, .first-section, .section-desktop-restaurants-pages{
        justify-content: space-around;
        display: flex;
    }

    nav ul li {
        display: initial;
    }

    .first-section{
        flex-direction: row-reverse;
    }

    .second-section{
        padding: 2rem 0;
    }

    .background-color-grey-dark{
        flex-direction: row-reverse;
        line-height: 10.5rem;
        padding: 0 3rem;
    }

    figure{
    min-width: 18rem;
    }

    footer{
        padding-left: 15rem;
        padding-right: 15rem;
        justify-content: space-around;
        display: flex;
        position: relative;
        bottom: 0;
    }

    footer h4{
        font-size: 2rem;
    }


    //pages retaurants

    .h2{
        justify-content: space-around;
        padding-top: 1.5rem;
    }

    .name-restaurants{
        justify-content: space-around;
    }

    .item-menu{
        padding-top: 2rem;
    }

    .color-white{
        min-width: 19rem;
    }

    .img-desktop{
        max-height: 15rem;
    }    

    .btn-page-menu{
        margin: 1rem 0;
    }

}