@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
header, .flex {
  display: flex;
}

.first__section, header, .flex-center {
  justify-content: center;
  text-align: center;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

.numbering__of__functions {
  background: #9356DC;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  position: absolute;
  left: -0.5rem;
  bottom: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
}

img {
  width: 100%;
}

.third__section__restaurants__cards figure {
  background: white;
  border-radius: 1rem;
  margin: 1rem 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin_2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes disparition {
  0% {
    opacity: 100%;
  }
  90% {
    opacity: 70%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes gliss {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(1);
  }
}
@keyframes icone {
  0% {
    width: 0;
  }
  100% {
    width: 3.5rem;
  }
}
@keyframes icone2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes checking_2 {
  0% {
    padding-right: 0rem;
  }
  100% {
    padding-right: 1.5rem;
  }
}
@keyframes checking_3 {
  0% {
    width: 80%;
  }
  100% {
    width: 70%;
  }
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.logo {
  width: 9rem;
  padding: 1rem 0;
  position: relative;
}

header {
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0.5rem 0;
  position: relative;
}

h2 {
  justify-content: start;
}

.h2 {
  font-family: "Shrikhand", serif;
  font-weight: 300;
  padding: 0rem 1rem;
}

h3 {
  margin: 0.3rem 0;
}

h4 {
  font-family: "Shrikhand", serif;
  font-weight: 300;
}

i {
  padding: 0 1rem 0 0;
}

.i {
  line-height: 4.5rem;
  padding-top: 1.5rem;
  font-size: 1.5rem;
}

img {
  object-fit: cover;
  line-height: -1rem;
}

a {
  color: black;
  text-decoration: none;
}

figure {
  position: relative;
}

figcaption {
  padding-left: 1rem;
}

.loader__pages {
  animation: disparition linear 2.5s both;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.loader__pages__1 {
  border: 0.5rem solid #99E2D0;
  width: 3rem;
  height: 3rem;
  border-right: 0.5rem solid rgba(255, 255, 255, 0);
  border-left: 0.5rem solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
  animation: spin 1s linear infinite;
  padding: 1rem;
}

.loader__pages__2 {
  border: 0.7rem solid rgba(255, 255, 255, 0);
  width: 3rem;
  height: 3rem;
  border-top: 0.5rem solid #FF79DA;
  border-bottom: 0.5rem solid #FF79DA;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.356);
  animation: spin 2s linear infinite;
  padding: 1rem;
}

.loader__pages__3 {
  border: 0.7rem solid rgba(255, 255, 255, 0);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border-top: 0.5rem solid #9356DC;
  border-bottom: 0.5rem solid #9356DC;
  background: rgba(255, 255, 255, 0.356);
  animation: spin 3s linear infinite;
  padding: 1rem;
}

.first__section {
  flex-direction: column;
}

.first__section .first__section__presentation, .second__section {
  padding: 0 0.5rem;
}

.first__section, .third__section {
  background: #fafafa;
}

.first__section__backgrond {
  background: #f0f0f0;
}

.first__section__backgrond p {
  padding: 1rem 0;
  margin-top: 0rem;
}

.third__section {
  padding: 1.5rem 1rem;
}

.second__section__cards ul {
  margin: 1rem;
  padding-left: 0;
}
.second__section__cards ul li {
  background: #fafafa;
  list-style: none;
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  position: relative;
  padding-left: 2rem;
}

.second__section__cards i {
  color: grey;
}

.second__section__cards ul li:hover i {
  color: #9356DC;
}

.second__section__cards ul li:hover {
  background: rgba(210, 143, 255, 0.2);
}

.third__section__restaurants__cards figure img {
  border-radius: 1rem 1rem 0 0;
  height: 11rem;
}

figcaption p {
  padding-bottom: 1rem;
  margin: 0;
}

.button {
  background: linear-gradient(0.99turn, #9356DC, #FF79DA);
  color: white;
  padding: 1rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
  text-decoration: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(0.7turn, #9356DC, #FF79DA);
  opacity: 0.9;
}

.third__section__news {
  position: absolute;
  right: 1em;
  top: 1rem;
  background: #99E2D0;
  display: inline-block;
  color: #1d6651;
  padding: 0.5rem 0.7rem;
}

.third__section__restaurants__cards__menu--hearts--full {
  background: -webkit-linear-gradient(0.6turn, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0;
  z-index: 1;
  position: relative;
  right: 27px;
  opacity: 0;
}

.third__section__restaurants__cards__menu--hearts--full i {
  font-size: 28px;
}

.third__section__restaurants__cards__menu:hover .third__section__restaurants__cards__menu--hearts--full {
  animation: icone2 0.5s ease-in-out 1 both;
  z-index: 2;
}

.third__section__restaurants__cards__menu {
  position: relative;
}

.third__section__restaurants__cards__menu--hearts--vacuum {
  cursor: pointer;
  padding: 0;
}

.third__section__restaurants__cards__menu:hover .third__section__restaurants__cards__menu--hearts--vacuum {
  transition: color 0.5s linear;
  color: #fafafa;
}

.third__section__restaurants__cards--hearts {
  position: absolute;
  bottom: 1.5rem;
  right: 0rem;
}

.third__section__figcaption {
  position: relative;
}

footer {
  background: #3a3a3a;
  color: white;
  padding: 1rem;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer ul li {
  padding: 0.3rem 0;
}

footer a {
  color: white;
}

.logo__restaurants {
  margin: 0 auto;
  padding-right: 2rem;
}

.img-page-restaurants {
  height: 16rem;
}

.background-pages-restaurant {
  background: #fafafa;
}

.header__restaurants {
  flex-direction: column;
}

.menus {
  animation: gliss ease-in-out 2s;
}

.menus:nth-child(2) {
  animation: gliss ease-in-out 1s;
}

.menus:nth-child(3) {
  animation: gliss ease-in-out 1.5s;
}

.restaurants-section {
  background: #fafafa;
  position: relative;
  bottom: 2rem;
  border-radius: 2rem 2rem 0 0;
}

.item-menu {
  margin-left: 1.1rem;
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  width: 3rem;
  display: block;
  font-weight: initial;
  padding-bottom: 0.2rem;
}

.titles-menu {
  padding: 1rem 0rem 1rem 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.titles-menu h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 3rem;
}

.anim-checking {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 2rem;
  display: block;
  width: 85%;
}

.menus {
  background: white;
  margin: 1rem;
  border-radius: 1rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 2rem 0;
  cursor: pointer;
}

.vald {
  background: #99E2D0;
  color: white;
  border-radius: 0 1rem 1rem 0;
  width: 0rem;
  overflow: hidden;
}

.i-2 {
  transform: translateX(-3.5rem);
}

.price-2 {
  padding: 2.8rem 0.6rem 0 0.6rem;
}

.vald .i-2 {
  padding: 1.8rem 1rem;
  font-size: 1.5rem;
}

.menus:hover .vald {
  animation: icone 0.5s linear 1 forwards;
}

.menus:hover .i-2 {
  animation: spin_2 0.5s linear 1 forwards;
}

.checking {
  position: absolute;
  bottom: 0;
  right: 0;
}

.menus:hover .titles-menu {
  animation: checking_2 0.5s linear forwards;
}

.menus:hover .anim-checking {
  animation: checking_3 0.5s linear forwards;
}

.button__style {
  padding: 1rem 2.5rem;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
