@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
header, .flex {
  display: flex;
}

.validation .i, .first-section, header, .flex-center {
  justify-content: center;
  text-align: center;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

.numbering-of-functions {
  background: #9356DC;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  position: absolute;
  left: -0.5rem;
  bottom: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
}

img {
  width: 100%;
}

.restaurants-cards figure {
  background: white;
  border-radius: 1rem;
  margin: 1rem 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.logo {
  width: 9rem;
  padding: 1rem 0;
  position: relative;
}

.bg-gliss {
  background: white;
  border-radius: 1rem;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 2rem 0;
  z-index: 1;
  animation: gliss ease-in-out 2s;
  cursor: pointer;
}

.bg-gliss:nth-child(2) {
  animation: gliss ease-in-out 1s;
}

.bg-gliss:nth-child(3) {
  animation: gliss ease-in-out 1.5s;
}

header {
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0.5rem 0;
  position: relative;
}

h2 {
  justify-content: start;
}

.h2 {
  font-family: "Shrikhand", serif;
  font-weight: 300;
  padding: 0rem 1rem;
}

h3 {
  margin: 0.3rem 0;
}

h4 {
  font-family: "Shrikhand", serif;
  font-weight: 300;
}

i {
  padding: 0 1rem 0 0;
}

.i {
  line-height: 4.5rem;
  padding: 1rem;
  font-size: 1.5rem;
}

img {
  object-fit: cover;
}

a {
  color: black;
  text-decoration: none;
}

figure {
  position: relative;
}

.loader-home-page {
  animation: disparition linear 1s both;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.bg-loader {
  background: #fafafa;
}

.loader {
  border: 0.5rem solid #99E2D0;
  width: 3rem;
  height: 3rem;
  border-right: 0.5rem solid rgba(255, 255, 255, 0);
  border-left: 0.5rem solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
  animation: spin 1s linear infinite;
}

.loader-1 {
  border: 0.7rem solid rgba(255, 255, 255, 0);
  width: 3rem;
  height: 3rem;
  border-top: 0.5rem solid #FF79DA;
  border-bottom: 0.5rem solid #FF79DA;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.356);
  animation: spin 2s linear infinite;
}

.loader-2 {
  border: 0.7rem solid rgba(255, 255, 255, 0);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border-top: 0.5rem solid #9356DC;
  border-bottom: 0.5rem solid #9356DC;
  background: rgba(255, 255, 255, 0.356);
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin_2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes disparition {
  0% {
    opacity: 100%;
  }
  75% {
    opacity: 50%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes opening {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateX(60px);
    opacity: 0;
  }
  90% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes gliss {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(1);
  }
}
.first-section {
  flex-direction: column;
}

.first-section .presentation, .second-section {
  padding: 0 0.5rem;
}

.first-section, .third-section {
  background: #fafafa;
}

.background-color-grey-dark {
  background: #f0f0f0;
}

.background-color-grey-dark p {
  padding: 1rem 0;
  margin-top: 0rem;
}

.third-section {
  padding: 1.5rem 1rem;
}

.menu-cards ul {
  margin: 1rem;
  padding-left: 0;
}
.menu-cards ul li {
  background: #fafafa;
  list-style: none;
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  position: relative;
  padding-left: 2rem;
}

.restaurants-cards figure img {
  border-radius: 1rem 1rem 0 0;
  height: 11rem;
}

figcaption {
  padding-left: 1rem;
}

figcaption p {
  padding-bottom: 1rem;
  margin: 0;
}

.main-btn {
  background: linear-gradient(0.99turn, #9356DC, #FF79DA);
  color: white;
  padding: 1rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
  text-decoration: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.main-btn:hover {
  background: linear-gradient(0.98turn, #9356DC, #FF79DA);
  opacity: 0.9;
}

.heart-absolute {
  position: absolute;
  right: 0rem;
  top: 10rem;
}

.heart-no-valid, .heart-valid {
  margin: 0.6rem 1rem 0 0;
}

.heart-valid {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  visibility: hidden;
  position: absolute;
  cursor: pointer;
}

.heart-no-valid:hover .heart-valid {
  visibility: visible !important;
}

.news {
  position: absolute;
  right: 1em;
  top: 1rem;
  background: #99E2D0;
  display: inline-block;
  color: #1d6651;
  padding: 0.5rem 0.7rem;
}

footer {
  background: #3a3a3a;
  color: white;
  padding: 1rem;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer ul li {
  padding: 0.3rem 0;
}

footer a {
  color: white;
}

.background-pages-restaurant {
  background: #fafafa;
}

.header-restaurants {
  flex-direction: column;
}

.section-desktop-restaurants-pages {
  animation: gliss ease-in-out 3s;
}

.section-desktop-restaurants-pages:nth-child(2) {
  animation: gliss ease-in-out 1s;
}

.section-desktop-restaurants-pages:nth-child(3) {
  animation: gliss ease-in-out 2s;
}

.gliss {
  animation: gliss ease-in-out 3s;
}

.restaurants-section {
  background: #fafafa;
  position: relative;
  bottom: 2rem;
  border-radius: 2rem 2rem 0 0;
}

.price {
  padding: 3rem 1rem 0 0;
}

.validation {
  background: #99E2D0;
  border-radius: 0 1rem 1rem 0;
  display: none;
  animation: opening 0.5s ease-in-out;
  transform: translate(0%, 0%);
  opacity: 1;
}

.validation .i {
  color: white;
  line-height: 3rem;
  animation: spin_2 0.24s linear 2;
}

.titles-menu {
  padding: 1rem 0 1rem 1rem;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}

.item-menu {
  margin-left: 1.1rem;
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  width: 3rem;
  display: block;
  font-weight: initial;
  padding-bottom: 0.2rem;
}

.bg-gliss:hover .validation {
  display: initial;
}

.logo-restaurants {
  margin: 0 auto;
  padding-right: 2rem;
}

.btn-page-menu {
  padding: 1rem 2.5rem;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  h2 {
    display: flex;
    justify-content: center;
  }

  nav, .first-section {
    justify-content: space-around;
    display: flex;
  }

  nav ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  nav ul li i {
    padding-bottom: 0.5rem;
  }

  .first-section {
    flex-direction: row-reverse;
  }

  .second-section {
    padding: 2rem 1rem;
  }

  .background-color-grey-dark {
    flex-direction: row-reverse;
    line-height: 10.5rem;
    padding: 0 1.5rem;
  }

  figure {
    min-width: 17rem;
  }

  footer {
    padding-left: 5rem;
    padding-right: 5rem;
    justify-content: space-around;
    display: flex;
    position: relative;
    bottom: 0;
  }

  footer h4 {
    font-size: 2rem;
  }

  div .fa-heart {
    margin-top: 1.9rem;
  }

  .h2 {
    justify-content: space-around;
    padding-top: 1.5rem;
  }

  .bg-gliss {
    min-width: 19rem;
  }

  .img-desktop {
    max-height: 15rem;
  }

  .btn-page-menu {
    margin: 1rem 0;
  }
}
@media only screen and (min-width: 1224px) {
  h2 {
    display: flex;
    justify-content: center;
  }

  nav, .section-desktop, .first-section, .section-desktop-restaurants-pages {
    justify-content: space-around;
    display: flex;
  }

  nav ul li {
    display: initial;
  }

  .first-section {
    flex-direction: row-reverse;
  }

  .second-section {
    padding: 2rem 0;
  }

  .background-color-grey-dark {
    flex-direction: row-reverse;
    line-height: 10.5rem;
    padding: 0 3rem;
  }

  figure {
    min-width: 18rem;
  }

  footer {
    padding-left: 15rem;
    padding-right: 15rem;
    justify-content: space-around;
    display: flex;
    position: relative;
    bottom: 0;
  }

  footer h4 {
    font-size: 2rem;
  }

  .h2 {
    justify-content: space-around;
    padding-top: 1.5rem;
  }

  .name-restaurants {
    justify-content: space-around;
  }

  .item-menu {
    padding-top: 2rem;
  }

  .bg-gliss {
    min-width: 19rem;
  }

  .img-desktop {
    max-height: 15rem;
  }

  .btn-page-menu {
    margin: 1rem 0;
  }
}

/*# sourceMappingURL=style.css.map */
